@font-face {
	font-family: "Emblema One";
	src: url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.woff"), 
	     url("http://wickedlysmart.com/hfhtmlcss/chapter8/journal/EmblemaOne-Regular.ttf"); 
}
body {
  font-family:     Verdana, Geneva, Arial, sans-serif;
  font-size:       small;
}
h1, h2 {
  color:           #cc6600;
  border-bottom:   thin dotted #888888;
}
h1 {
  font-family:     "Emblema One", sans-serif;
  font-size:       220%;
}
h2 {
  font-size:       130%;
  font-weight:     normal;
}
blockquote {
  font-style:      italic;
}

table {
	margin-left : 10px;
	margin-right : 10px;
	border : thin solid black;
	caption-side : bottom;
	border-collapse : collapse;
}

th,td {
	padding : 5px;
	border : thin dotted gray;
}

caption {
	font-style : italic;
	padding-top : 8px;
}

.alignCenter {
	text-align : center;
}

.alignRight {
	text-align : right;
}

th {
	background-color : #cc6600;
}

tr:nth-child(2n+1) {
	background-color : #fcba7a;
}

table table th {
	background-color : white;
}

li {
	list-style-image : url(images/backpack.gif);
	margin-top : 5px;
	margin-left : 20px;
}
